


body{
    margin : 0;
    font-size: 16px;
    background-image: url(fond.jpg);
    font-family: Century Gothic;
    font-weight: 400;
}

*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    outline: none;
}

.custom-box{
    max-width: 600px;
    background-color: beige;
    margin:50px auto;
    padding: 30px;
    border-radius: 10px;
    opacity: 96%;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;
}
.custom-box.hide{
    display: none;
}

.home-box{
    text-align: center;
}

.home-box h3{
    font-family: Forte,sans-serif;
    font-size: 50px;
    font: #000000;
    color: rgb(202, 5, 5);
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 25px;
}

.home-box p{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 22px;
    color:black;
    font-weight: 400;
}

.home-box p span{
    font-weight: 500;
}

.home-box .btn{
    margin-top: 20px;
}

.btn{
    padding: 10px 35px;
    background-color: #222222;
    color: #ffffff;
    border:none;
    border-radius: 5px;
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .question-suivant-btn,
.quiz-box .reponse-indicateur{
    width: 100%;
    float: left;
}
.quiz-box .question-number{
    font-size: 15px;
    color: rgb(202, 5, 5);;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 10px;
}
.quiz-box .question-text{
    font-size: 20px;
    color: black;
    line-height: 25px;
    font-weight: 400;
    padding:20px 0; 
    margin:0 ;
}
.quiz-box .option-container .option{
    background-color:gray;
    padding: 13px 15px;
    font-size: 18px;
    line-height: 22px;
    color: beige;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}
.quiz-box .option-container .option.deja-choisi{
    pointer-events: none;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.quiz-box .option-container .option.incorrect::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .btn{
    margin: 10px 0;
} 
.quiz-box .reponse-indicateur{
    border-top: 1px solid #cccccc;
}

.quiz-box .reponse-indicateur div{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: gray;
    border-radius: 50px;
    margin-right: 3px;
    margin-top: 15px;
}
.quiz-box .reponse-indicateur div.correct{
    background-color: green;
    background-image: url("img/correct.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-box .reponse-indicateur div.incorrect{
    background-color: red;
    background-image: url("img/wrong.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.result-box{
    text-align: center;
}
.result-box.hide{
    display: none;
}
.result-box h1{
    font-family: Forte,sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: rgb(202, 5, 5);
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    font-size: 18px;
    text-align: left;
}
.result-box .btn{
    margin-right: 20px;
}

@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding:15px;
    }
}
